<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--unless cheeses exists and size is not 0-->
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>



    <!--loop over the list of cheeses.  always add loop inside html tag. curly brackets tells java to look in the mode for the value -->
    <!-- when ever using th: attribute, we want thymeleaf to repeat current li element for each cheese in cheeses.  Then tell how to use value of iterator var -->

<table class="table">
    <tr>
        <th>Cheese</th>
        <th>Description</th>
    </tr>

    <!--how to access priv field? thymeleaf will call getter and setter when we use this syntax-->
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}">Key</td>
        <td th:text="${cheese.description}">Value</td>

    </tr>

</table>
</body>
</html>